.modal {
  visibility:  hidden;
  position:    fixed;
  top:         50%;
  left:        50%;
  width:       50%;
  max-width:   40rem;
  min-width:   30rem;
  max-height:  90vh;
  overflow:    hidden;
  height:      100%;
  z-index:     5;
  perspective: 1300px;
  @include backface();
  @include transform(-50%, -50%);

  &.visible {
    visibility: visible;
    .modal-window {
      @include rotateX(0deg);
      opacity: 1;
    }
  }
  .modal-window {
    background: #fff;
    padding:    2rem;
    position:   relative;
    opacity:    0;
    @include transform-style(preserve-3d);
    @include rotateX(-60deg);
    @include transform-origin(50% 0);
    @include transitions(all .5s);
    .close {
      border:     0;
      background: transparent;
      float:      right;
      font-size:  1.2rem;
      outline:    0;
      cursor:     pointer;
    }
    .modal-window_body {
      height:     70vh;
      overflow-y: auto;
    }
  }
}

.modal-overlay {
  position:   fixed;
  width:      100%;
  height:     100%;
  opacity:    0;
  background: rgba(55, 55, 55, 0.5);
  visibility: hidden;
  top:        0;
  left:       0;
  z-index:    4;
  @include transitions(all 0.5s);
}

.visible ~ .modal-overlay {
  opacity:    1;
  visibility: visible;
}

/* RESPONSIVE (for tablets and mobiles) */
@media (max-width: 767px) {
  .modal {
    .modal-window {
      padding: 1rem;
      .modal-window_body {
        height: 50vh;
      }
    }
  }
}