$font: 'Raleway', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-size: 16px;
$color-default: #6a7989;
$color-backface: #e8e8e8;
$color-light: #fff;
$color-dark: #000;

$link: #555;
$link-visited: darken($link, 20%);
$link-hover: #AF6CBE;